body {
  background-color: #f3f6ffce;
}
/* nav.mynav{
  background-color: #F195B2;
} */

h1.intro {
  font-size: 60px;
}
div.mycarousel {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.6) 0%,
      rgba(0, 0, 0, 0.6) 100%
    ),
    url("assets/img/banner1.png");

  background-position: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  height: 90vh;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: white;
  flex-wrap: wrap;
}
div.mycarousel2 {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.6) 0%,
      rgba(0, 0, 0, 0.6) 100%
    ),
    url("assets/img/banner2.png");

  background-position: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  height: 90vh;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: white;
  flex-wrap: wrap;
}
div.mycarousel3 {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.6) 0%,
      rgba(0, 0, 0, 0.6) 100%
    ),
    url("assets/img/banner3.png");

  background-position: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  height: 90vh;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: white;
  flex-wrap: wrap;
}

a.nav-link:hover {
  color: #ffc107;
}

a.nav-link.active:hover {
  text-decoration: underline;
}

span.navbar-text {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
h1.first {
  color: rgb(91, 126, 231);
  padding-right: 5px;
}
h1.last {
  color: #ffc107;
}
i:hover {
  color: rgb(71, 69, 69);
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
/* div.mynavbar{
  width: 80%;border-radius: 100px;position: absolute; z-index: 1;
} */

@media screen and (min-width: 922px) {
  div.navbar_satu {
    display: flex;
    justify-content: space-between;
  }
  div.navbar_dua {
    width: 80%;
    border-radius: 100px;
    position: absolute;
    z-index: 1;
    margin-top: 50px;
  }
  body {
    background-color: red;
  }
}
@media screen and (max-width: 576px) {
  div.navbar_dua {
    width: 100%;
    border-radius: 50px;
    position: relative;
    z-index: 1;
    padding: 100px;
    margin: 50px auto;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
  }
  body {
    background-color: red;
  }
}

@media screen and (max-width: 992px) {
  div.navbar_dua {
    width: 100%;
    border-radius: 50px;
    position: relative;
    z-index: 1;
    padding: 100px;
    margin: 50px auto;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
  }
}
@media screen and (max-width: 576px) {
  ul.list {
    width: 50%;
  }
}

div.mycard {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

div.card {
  width: 18rem;
  justify-content: center;
  align-items: center;
  margin: 30px;
  padding: 10px;
}

a.btn_order:hover {
  background-color: rgb(98, 175, 226);
  border: 1px solid rgb(98, 175, 226);
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

img.myproduct {
  width: 12rem;
  border: 15px solid #ffc107;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
a.gallery {
  border: 1px solid #ffc107;
  color: #ffc107;
  margin-left: 8px;
}
a.gallery:hover {
  color: rgb(98, 175, 226);
  border: 1px solid rgb(98, 175, 226);
  background-color: transparent;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

img.mygallery {
  width: 12rem;
  border: 5px solid #ffc107;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  position: absolute;
  margin-bottom: 350px;
}

div.card_gallery {
  padding-top: 100px;
  padding-bottom: 30px;
  margin-top: 100px;
}

div.body-caption {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  align-items: center;
}

@media screen and (max-width: 812px) {
  div.body-caption {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    align-items: center;
  }
  div.caption {
    font-size: 10px;
    padding: 4px;
  }
}
